.heading {
  font-size: 23px;
  width: 100%;
  margin: 0px;
  box-shadow: 6px 6px 6px rgb(134, 74, 74);
}

.note {
  font-size: 15px;
  color: rgb(19, 1, 1);
}

.copy_right_footer {
  position: fixed;
  color: rgb(252, 250, 250);
  bottom: 0;
  width: 100%;
  background-color: rgb(168, 24, 24);
  line-height: 3;
  text-align: center;
}

canvas {
  border: 5px solid rgb(7, 65, 88);
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(56, 112, 114);
}